<%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>

    <main class="main-home-index">

      <img class="" src="/images/piramide-paris.jpg" alt="banner-descuento">
      <h1>Conoce tu destino perfecto</h1>

      <section class="section-home-index">

        <% destinos.forEach(destino => { %>
          <a href="detail/<%= destino.id %>">
            <%- include('./partials/articleDestinos.ejs',{destino})%>
          </a>
          <% }) %>


      </section>
      <button class="button-main-home">
          Conocer más Destinos
        </button>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
