<%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>

    <main class="main-home-index">
      <img class="" src="/images/piramide-paris.jpg" alt="banner-descuento">
      <h1>Conoce tu destino perfecto</h1>
      <section class="section-home-index">

        <% destinos.forEach(destinos => { %>
          <article class="article-home-index">
            <a href=""><img src="/images/<%= destinos.imagen %>" alt="article-1">
                <p class="p-article"><%= destinos.nombre %></p>
              </a>
          </article>
        <% }) %>


      </section>
      <button class="button-main-home">
          Conocer más Destinos
        </button>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
